# Python Assignment - 1

### Total - 30 marks

## Variables and data types

__Exercise 1 a)__ Create four variables and assign values with different data types to them

In [1]:
#int, float, String, boolean

In [5]:
my_var1 = 12

In [6]:
my_var2 = 10.20

In [7]:
my_var3 = "Hello, This is Prakhar"

In [8]:
my_var4 = 12 > 5

__Exercise 1 b)__ Print the variables using Python's built-in function print(_String_)

In [9]:
print("printing the first variable:", my_var1)

printing the first variable: 12

In [10]:
print("printing the second variable:", my_var2)

printing the second variable: 10.2

In [11]:
print("printing the third variable:", my_var3)

printing the third variable: Hello, This is Prakhar

In [12]:
print("printing the forth variable:", my_var4)

printing the forth variable: True

__Exercise 1 c)__ Print the data type of each variable using Python's built-in function type()

In [13]:
type(my_var1)

int

In [14]:
type(my_var2)

float

In [15]:
type(my_var3)

str

In [16]:
type(my_var4)

bool

__Exercise 2__ How do we use variables? Explore with arithmetic operators (+, -, *, /)!

In [2]:
# Example
first_value = 3
second_value = 5

result = first_value + second_value
print(result)

8

In [17]:
var1 = 10
var2 = 2

solution = var1 + var2
print(solution)

12

In [18]:
number1 = 89
number2 = 23

sub_value = number1 - number2
print(sub_value)

66

In [20]:
num1 = 15
num2 = 2

into_value = num1 * num2
print(into_value)

30

In [22]:
numerator = 125
denomenator = 12

divided_val = numerator / denomenator
print(divided_val)

10.416666666666666

## Example: Lists

In [3]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'mango', 'grapes']

In [4]:
fruits[0]

'orange'

In [5]:
fruits[1]

'apple'

In [6]:
fruits[-1]

'grapes'

We can also specify a range of indexes specifying where to start and end the range

In [7]:
fruits[2:5]

['pear', 'banana', 'kiwi']

In [8]:
fruits[2:]

['pear', 'banana', 'kiwi', 'mango', 'grapes']

In [9]:
fruits[:2]

['orange', 'apple']

__Exercise 3 a)__ Create a list with names of your friends and print the name of the first, second and last person

In [5]:
frnds = ["akshit", "divyansh", "himanshu", "anurag", "satwik", "shiv"]

In [6]:
frnds[0] #first name

'akshit'

In [7]:
frnds[1] #second name

'divyansh'

In [8]:
frnds[-1] #printing last name

'shiv'

__Exercise 3 b)__ Print your list of names using different ranges

In [9]:
frnds #printing whole list

['akshit', 'divyansh', 'himanshu', 'anurag', 'satwik', 'shiv']

In [10]:
frnds[1:] #printing the whole list from the second name

['divyansh', 'himanshu', 'anurag', 'satwik', 'shiv']

In [17]:
frnds[2:4] #printing the list from 3rd name to 5th name

['himanshu', 'anurag']

In [19]:
frnds[::-1] #printingit in a reverse order

['shiv', 'satwik', 'anurag', 'himanshu', 'divyansh', 'akshit']

In [20]:
frnds[::-2] #printing it in reverse order but this time only printing the every second item in the list.

['shiv', 'anurag', 'divyansh']

In [21]:
frnds[:-1] #printing everything but leaving the last item of the list

['akshit', 'divyansh', 'himanshu', 'anurag', 'satwik']

In [23]:
frnds[::2] #pritning the list with the step of 2

['akshit', 'himanshu', 'satwik']

In [29]:
frnds[:4] #printing the list till 4th index position item of the list

['akshit', 'divyansh', 'himanshu', 'anurag']

__Exercise 4 a)__ Count how many names you have added to the list using len(_[...]_)

In [25]:
frnds

['akshit', 'divyansh', 'himanshu', 'anurag', 'satwik', 'shiv']

In [26]:
len(frnds)

6

__Exercise 4 b)__ Add a new name to your list using append(_item_)

In [142]:
frnds = ['akshit', 'divyansh', 'himanshu', 'anurag', 'satwik', 'shiv']

In [143]:
frnds.append('doctor')

__Exercise 4 c)__ Print the list. Does it look as expected?

In [144]:
frnds

['akshit', 'divyansh', 'himanshu', 'anurag', 'satwik', 'shiv', 'doctor']

__Exercise 4 d)__ Add a new name on the _third_ position in your list using insert(_position_, _item_)

In [145]:
frnds.insert(3, 'ritesh')

__Exercise 4 e)__ Print the list. Does it look as expected?

In [146]:
frnds #yes, it has inserted a new item at the expected position

['akshit',
 'divyansh',
 'himanshu',
 'ritesh',
 'anurag',
 'satwik',
 'shiv',
 'doctor']

__Exercise 4 f)__ Remove a name from the list using remove(_item_)

In [147]:
frnds.remove('doctor')

__Exercise 4 g)__ Print the list. Does it look as expected?

In [148]:
frnds

['akshit', 'divyansh', 'himanshu', 'ritesh', 'anurag', 'satwik', 'shiv']

# Example: For loops

In [10]:
for fruit in fruits:
    print(fruit)

orange
apple
pear
banana
kiwi
mango
grapes

In [11]:
for fruit in fruits:
    fruit = fruit + 's'
    print(fruit)

oranges
apples
pears
bananas
kiwis
mangos
grapess

__Exercise 5 a)__ Print each name in your list of names

In [43]:
for name in frnds:
    print(name)

akshit
divyansh
himanshu
ritesh
anurag
satwik
shiv
robin
robin

__Exercise 5 b)__ Add a small change to each name in your list

In [48]:
for name in frnds:
    name = name + 'wa'
    print(name)

akshitwa
divyanshwa
himanshuwa
riteshwa
anuragwa
satwikwa
shivwa
robinwa
robinwa

# Example: Dictionaries

In [12]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [13]:
capital = countries["sweden"]
print(capital)

stockholm

__Exercise 6 a)__ Get the capital of Denmark and Norway using the dictionary _countries_

In [59]:
countries

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo'}

In [64]:
countries["denmark"]

'copenhagen'

In [65]:
countries["norway"]

'oslo'

__Exercise 6 b)__ Add a new key-value pair to the dictionary _countries_

In [66]:
countries.update({"india" : "delhi"})

__Exercise 6 c)__ Print the dictionary. Does it look as expected?

In [67]:
countries

{'sweden': 'stockholm',
 'denmark': 'copenhagen',
 'norway': 'oslo',
 'india': 'delhi'}

__Exercise 6 d)__ Update Sweden's capital to Malmo

In [76]:
countries["sweden"] = "malmo"

__Exercise 6 e)__ Print the dictionary. Does it look as expected?

In [77]:
countries

{'sweden': 'malmo',
 'denmark': 'copenhagen',
 'norway': 'oslo',
 'india': 'delhi'}

In [78]:
print(dir(countries))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

__Exercise 6 f)__ Remove the key-value pair Sweden-Stockholm from the dictionary

In [97]:
countries = {"sweden" : "stockholm", "denmark" : "copenhagen", "norway" : "oslo"}

In [98]:
countries

{'sweden': 'stockholm', 'denmark': 'copenhagen', 'norway': 'oslo'}

In [99]:
countries.pop("sweden") #removed the requested key-value pair with pre-defined pop function

'stockholm'

In [100]:
countries

{'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 g)__ Print the dictionary. Does it look as expected?

In [101]:
countries #yes, it does!

{'denmark': 'copenhagen', 'norway': 'oslo'}

__Exercise 6 g)__ Print each key-value pair in the dictionary countries

In [14]:
for key, value in countries.items():
    print(f"Country: {key}, Capital: {value}")

Country: sweden, Capital: stockholm
Country: denmark, Capital: copenhagen
Country: norway, Capital: oslo

In [16]:
group = {"akshit" : 19, "divyansh" : 20, "himanshu" : 17, "robin" : 21}

print("printing the values:")
for key, value in group.items():
    print(f"name: {key}, age: {value}")

printing the values:
name: akshit, age: 19
name: divyansh, age: 20
name: himanshu, age: 17
name: robin, age: 21

# Example: Functions

In [ ]:
def function_name(param1, param2):
    # Block of code

We will start with creating a function that can add two numbers.

In [22]:
def add_two_numbers(number1, number2):
    result = number1 + number2
    return result

Let's try to use it!

In [23]:
add_two_numbers(1,2) #yes

3

In [24]:
add_two_numbers(5,20)

25

__Exercise 7 a)__ Create a function that can calculate the difference between two numbers

In [19]:
def diff_bw_numbers(num1, num2):
    substract = num1 - num2
    return substract

__Exercise 7 b)__ Use the function. Does it return the expected results?

In [20]:
diff_bw_numbers(100,25) #yes

75

In [105]:
diff_bw_numbers(30,60)

-30

__Exercise 7 c)__ Create a function that can multiply two numbers

In [106]:
def multiply_numbers(num1, num2):
    result = num1 * num2
    return result

__Exercise 7 d)__ Use the function. Does it return the expected results?

In [107]:
multiply_numbers(2,10) #yes

20

__Exercise 7 e)__ Create a function that can divide two numbers

In [109]:
def divide_numbers(num1, num2):
    divided_result = num1 / num2
    return divided_result

__Exercise 7 f)__ Use the function. Does it return the expected results?

In [110]:
divide_numbers(10,2) #yes

5.0

In [112]:
divide_numbers(25,2)

12.5

In [113]:
divide_numbers(0,2)

0.0